{% extends "base.html" %}
{% block body %}
	<div id="app" class="container-fluid">
		<div id="loader"></div>
		<div class="row search-sect-wrapper">
			<div class="col-sm-12 logo-wrapper">
				<img src="/static/img/jew-logo.png" alt="" class="logo">
			</div>		
			<div class="form-wrapper col-sm-8 col-sm-offset-2">
				<form action="" id="query-form" onsubmit="event.preventDefault();">
					<div class="text-inp--wrapper row">
						<div class="col-sm-6">
						<input class="text-input search-main-form title-field" type="text" name="q" placeholder="Название игры" id="query" v-model="params.query">
						</div>
						<div class="col-sm-3">
						<input class="text-input search-main-form price-field" type="text" name="price" placeholder="Твоя цена" id="price" v-model="params.price">
						</div>
						<div class="col-sm-3">
						<button v-on:click="fetchGamePrices">Почем, таки, игры?</button>
						</div>
					</div>
					<div class="clear"></div>
					<div class="param-wrapper row">
						<div class="col-sm-4">
							<select name="region" id="region-select" v-model="params.region">
								<option value="" disabled="">Выбери Регион</option>
								<option value="ru">Россия</option>
							</select>
						</div>
						<div class="col-sm-4">
							<select name="platform" id="platform-select" v-model="params.platform">
								<option value="" disabled="">Выбери платформу</option>
								<option value="ps4">Playstation 4</option>
								<option value="XOne">XBOX ONE</option>
							</select>
						</div>	
						<div class="col-sm-4">
							<select name="currency" id="currency-select" v-model="params.currency">
								<option value="" disabled="">Выбери валюту сравнения</option>
								<option value="KZT">Тенге (KZT)</option>
								<option value="RUB">Рубль (RUB)</option>
								<option value="USD">Доллар (USD)</option>
							</select>
						</div>					
					</div>
				</form>
			</div>
		</div>
		<div class="clear"></div>
		<div class="row result-sect-wrapper" v-bind:class="{ scroll: scrollable}">
			<div class="col-sm-8 col-sm-offset-2">
				<div v-for="result in results" class="row game-card--wrapper">
					<div class="col-sm-12">
						<div class="col-sm-12 game-card--item">
							<div class="col-sm-3 image-wrapper">
								<img v-bind:src="result.metadata.img" class=" img-responsive" v-bind:alt="result.metadata.title">			
							</div>
							<div class="col-sm-9">
								<div class="row game-title">
									<h3>[[ result.metadata.title ]]</h3>
									
								</div>
								<div class="row">
									<div class="col-sm-4 price-label border-right">
										<p>Цена в магазине:</p>
										<h2>[[ result.price.current_price.amount ]] [[ result.price.current_price.currency ]]</h2>
									</div>
									<div class="col-sm-4 price-label border-right">
										<p>Цена в [[ result.price.converted_price.currency ]]:</p>
										<h2>[[ result.price.converted_price.amount ]] [[ result.price.converted_price.currency ]]</h2>
									</div>
									<div class="col-sm-4 price-label profit-label">
										<p>Выгода в твою пользу:</p>
										<h2>[[ result.price.profit_price.amount ]] [[ result.price.profit_price.currency ]]</h2>
									</div>
									
								</div>
							</div>
						</div>
						<img src="/static/img/moisha.png" alt="" class="moisha" v-if="result.price.profit_price.amount > 0">
					</div>
				</div>
			</div>
			<div class="col-sm-12 loader" v-if="loading">
				<span>Загрузка...</span>
			</div>
		  </div>
		  
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			delimiters: ["[[", "]]"],
			data: {
				results: [],
				loading: false,
				scrollable: true,
				params: {
					region: 'ru',
					platform: 'ps4',
					currency: 'KZT',
					query: '',
					price: ''
				},
				baseUrl: 'https://askravvin.herokuapp.com/api/fetch',
			},
			methods: {
				fetchGamePrices: function(){
					var self = this
					var link = self.baseUrl
					this.loading = true
					this.scrollable = false
					form = $('#query-form').serialize();
					console.log(form);						
					$.ajax({
					    type:"GET",
					    url: link,
					    data: form,
					    success: function(data) {
					            self.results = JSON.parse(data);
								self.loading = false
								self.scrollable = true
					        }, 
					    error: function(jqXHR, textStatus, errorThrown) {
					            alert('Error ' + jqXHR.status);
								self.loading = false
								
					        }
					});
				}
			}
		})
	</script>
{% endblock %}