{% extends "base.html" %}
{% block body %}
	<div id="app" class="container-fluid">
		<div id="loader"></div>
		<div class="row search-sect-wrapper">
			<div class="col-sm-12 logo-wrapper">
				<img src="/static/img/jew-logo.png" alt="" class="logo">
				
			</div>		
			<div class="form-wrapper col-sm-8 col-sm-offset-2">
				<form action="" id="query-form" onsubmit="event.preventDefault();">
					<div class="text-inp--wrapper row">
						<div class="col-sm-6">
						<input class="text-input search-main-form title-field" type="text" name="q" placeholder="Название игры" id="query" v-model="params.query">
						</div>
						<div class="col-sm-3">
						<input class="text-input search-main-form price-field" type="text" name="price" placeholder="Твоя цена" id="price" v-model="params.price">
						</div>
						<div class="col-sm-3">
						<button v-on:click="fetchGamePrices">Почем, таки, игры?</button>
						</div>
					</div>
					<div class="clear"></div>
					<div class="param-wrapper row">
						<div class="col-sm-4">
							<select name="region" id="region-select" v-model="params.region">
								<option value="" disabled="">Выбери Регион</option>
								<option value="ru">Россия</option>
							</select>
						</div>
						<div class="col-sm-4">
							<select name="platform" id="platform-select" v-model="params.platform">
								<option value="" disabled="">Выбери платформу</option>
								<option value="ps4">Playstation 4</option>
							</select>
						</div>	
						<div class="col-sm-4">
							<select name="currency" id="currency-select" v-model="params.currency">
								<option value="" disabled="">Выбери валюту сравнения</option>
								<option value="KZT">Тенге (KZT)</option>
								<option value="RUB">Рубль (RUB)</option>
								<option value="USD">Доллар (USD)</option>
							</select>
						</div>					
					</div>
				</form>
			</div>
		</div>
		<div class="clear"></div>
		<div class="row result-sect-wrapper" v-bind:class="{ scroll: scrollable}">
				<div class="col-sm-8 col-sm-offset-2 tutorial-wrapper" v-if="tutorial">
					<div class="col-sm-4">
						<h3>Шаг 1</h3>
						<span>Нашел игру в соседнем магазине?</span>
					</div>
					<div class="col-sm-4 tutorial-bordered">
						<h3>Шаг 2</h3>
						<span>Укажи как называется игра и сколько она стоит</span>
					</div>
					<div class="col-sm-4">
						<h3>Шаг 3</h3>
						<span>Узнай - стоит ли покупать за ту цену, которую ты указал</span>
					</div>
					<div class="row tutorial-footer">
						<a href="https://money.yandex.ru/to/410014058034141">Поддержать проект</a>
						<a href="mailto:deniel1515@gmail.com">Отправить отзыв</a>
					</div>
				</div>
			<div class="donate-wrapper" v-if="results.length > 0">
					<p>Поддержать проект рублем:</p>
					<iframe src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82&default-sum=100&button-text=14&yamoney-payment-type=on&button-size=s&button-color=orange&successURL=&quickpay=small&account=410014058034141&" width="127" height="25" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
					<iframe src="https://money.yandex.ru/quickpay/button-widget?targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82&default-sum=100&button-text=14&any-card-payment-type=on&button-size=s&button-color=orange&successURL=&quickpay=small&account=410014058034141&" width="127" height="25" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
			</div>
				<div class="col-sm-8 col-sm-offset-2">
					
				<div v-for="result in results" class="row game-card--wrapper">
					<div class="col-sm-12">
						<div class="col-sm-12 game-card--item">
							<div class="col-sm-3 image-wrapper">
								<img v-bind:src="result.metadata.img" class=" img-responsive" v-bind:alt="result.metadata.title">			
							</div>
							<div class="col-sm-9">
								<div class="row game-title">
									<h3>[[ result.metadata.title ]]</h3>
									
								</div>
								<div class="row price-info">
									<div class="col-sm-4 price-label border-right">
										<p>Цена в магазине:</p>
										<strike v-if="result.metadata.discount">[[ result.price.discount_price.amount]] [[ result.price.discount_price.currency]]</strike>
										<span>[[ result.price.current_price.amount ]] [[ result.price.current_price.currency ]]</span>
									</div>
									<div class="col-sm-4 price-label border-right">
										<p>Цена в [[ result.price.converted_price.currency ]]:</p>
										<strike v-if="result.metadata.discount">[[ result.price.discount_converted_price.amount]] [[ result.price.discount_converted_price.currency]]</strike><span>[[ result.price.converted_price.amount ]] [[ result.price.converted_price.currency ]]</span>
									</div>
									<div class="col-sm-4 price-label profit-label">
										<p>Выгода в твою пользу:</p>
										<span>[[ result.price.profit_price.amount ]] [[ result.price.profit_price.currency ]]</span>
									</div>
									
								</div>
								
							</div>
							<div class="row opt-info">
									<div class="col-sm-12">
										<span class="label label-primary">[[ result.metadata.platform ]]</span>
										<span class="label label-default">ID: [[ result.metadata.id ]]</span>
										<span class="label label-danger" v-if="result.metadata.discount">% скидка</span>
									</div>
								</div>
						</div>
						<img src="/static/img/moisha.png" alt="" class="moisha" v-if="result.price.profit_price.amount > 0">
					</div>
				</div>
			</div>
			<div class="col-sm-12 loader" v-if="loading">
				<div class="loader-text-wrapper">
					<span>Загрузка...</span>
					<h5>[[ loadingText ]]</h5>
				</div>
			</div>
			
		  </div>
		  
	</div>
	<script>
		var app = new Vue({
			el: '#app',
			delimiters: ["[[", "]]"],
			data: {
				results: [],
				loading: false,
				scrollable: true,
				tutorial: true,
				loadingText: '',
				params: {
					region: 'ru',
					platform: 'ps4',
					currency: 'KZT',
					query: '',
					price: ''
				},
				baseUrl: window.location + 'api/fetch',
			},
			methods: {
				fetchGamePrices: function(){
					var self = this
					var link = self.baseUrl
					this.loading = true
					this.scrollable = false
					this.tutorial = false
					form = $('#query-form').serialize();
					console.log(form);						
					$.ajax({
					    type:"GET",
					    url: link,
					    data: form,
					    success: function(data) {
					            self.results = JSON.parse(data);
					            console.log(data)
								self.loading = false
								self.scrollable = true
					        }, 
					    error: function(jqXHR, textStatus, errorThrown) {
					            alert('Error ' + jqXHR.status);
								self.loading = false
								
					        }
					});
				},
				loadingSnippets: function(){
					var self = this
					var textList = [
						'Звоню другу чтобы узнать цену',
						'Ищу в Google', 
						'Ставлю лайки под фото с котятами', 
						'Завариваю чаек, тебе тоже советую',
						'Устанавливаю браузер Амиго',
						'Почесался за ушком',
						'Тебе точно нужно это знать?',
						'Что мне таки за это будет?']
					setInterval(function(){
						self.loadingText = textList[Math.floor(Math.random() * textList.length)];		
					}, 1500);
						
				}
			},
			mounted(){
				this.loadingSnippets();
			}
		})
	</script>
{% endblock %}